<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.min.css"
		integrity="sha256-D9M5yrVDqFlla7nlELDaYZIpXfFWDytQtiV+TaH6F1I=" crossorigin="anonymous" />
	<link rel="stylesheet" href="/css/style.css">
	<script
			  src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			  crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/9c9bf59700.js" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="/dist/jquery.toast.min.css">
	<script src="/dist/jquery.toast.min.js"></script>

	<script src="/js/script.js"></script>

	
</head>

<body class="has-navbar-fixed-top">
	<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
			<a class="navbar-item" href="https://www.itiszuccante.edu.it">
				<img src="https://i.imgur.com/NTBaBiL.png" width="32" height="32">
			</a>

			<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
				data-target="navbarBasicExample">
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</a>
		</div>

		<div id="navbarBulma" class="navbar-menu">
			<div class="navbar-start">
				<a class="navbar-item" href="/">
					Home <i class="fas fa-home"></i>
				</a>

				<a class="navbar-item" href="https://gitlab.com/fogliodicarta">
					<img src="https://about.gitlab.com/images/press/logo/png/gitlab-logo-gray-stacked-rgb.png" alt="">
					Account Gitlab
				</a>

				<div class="navbar-item has-dropdown is-hoverable">
					<a class="navbar-link">
						Altro
					</a>

					<div class="navbar-dropdown">
						<a class="navbar-item" href="https://bulma.io">
							Bulma
						</a>
						<a class="navbar-item" href="https://expressjs.com">
							Express
						</a>
						<hr class="navbar-divider">
						<a class="navbar-item" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
							RickRoll
						</a>
					</div>
				</div>
			</div>

			<div class="navbar-end">
				<div class="navbar-item">
					<div class="field">
							<input id="barra" placeholder="Titolo del memo..." class="control" type="text" name="nome"
								maxlength="14">
							<!--<textarea name="nome" id="" cols="30" rows="10"></textarea>-->
							<button class="control button is-warning" id="creabtn">Crea memo</button>
					</div>
				</div>
			</div>
		</div>
	</nav>

	<div class="bigquadrato" id="bigquadrato">
		<% for(i=0;i<lista.length;i++){ %>
		<div class="has-background-warning quadrato">
				<div class="sopramemo">
					<p> <strong> <%= lista[i].titolo %> </strong>
						<button id="deletebtn<%=i%>"class="bottonedelete delete has-background-danger"> X </button>
						<button id="aggiorna<%=i%>" class="bottoneaggiorna button has-background-info"> <i class="fas fa-save"></i></button>
					</p>
				</div>

				<div class="sottomemo">
					<textarea name="testomemo" id="testomemo<%= i %>" class="testomemo"
						placeholder="Inserisci testo" spellcheck="false"><%=lista[i].testo%></textarea>
				</div>
		</div>
		<% } %>
	</div>

</body>

</html>