.quadrato{
    width: 300px;
    height: 300px;
    display: inline-block;
    margin: 20px 5px 5px 0px;
    padding: 0px;
    border-radius: 10px;
    position: relative;
    border: 2px solid black;
}
/*CSS TROLL*/
/*.bottonedelete,.bottoneaggiorna,.navbar-item,div{ 
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}*/
.bottonedelete:hover,.bottoneaggiorna:hover,.navbar-item:hover{ 
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    25% { transform: translate(-1px, -1px) rotate(-1deg); }
    50% { transform: translate(1px, -1px) rotate(1deg); }
    75% { transform: translate(1px, 1px) rotate(-1deg); }
    100% { transform: translate(1px, -1px) rotate(-1deg); }
  }
.bigquadrato{
    margin: auto;
    display: table;
}
hr{
    border: 1px solid black;
}
strong{
    font-size: large;
}
textarea{
    max-width: 100%;
    margin: auto;
    height: 98%;
    background-color: #ffdd57;
    border: 1px solid black; 
    padding: 5px;
}
textarea:hover{
    border-radius: 20px;
    
}
.bottoneaggiorna{
    float: right;
    padding: 2px;
    height: 22px;
    text-align: center;
    vertical-align: middle;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 2px;
    text-align: center;
    vertical-align: middle;
    line-height: 0px; 
    width: 17%;
}
.sopramemo{
    height: 1%;
    padding: 3% 0% 3% 3%;
}
.sottomemo{
    height: 80%;
    padding: 3%;
    justify-content: center;
}
.delete{
    float: right;
}

#barra{
    height: 40px;
}
.testomemo{
    margin-top:15px;;
    width: 100%;
       height: 100%; 
       box-sizing: border-box;
    resize: none;
}
button > * { /*per evitare che il target sia il contenuto del bottone*/
    pointer-events: none;
  }
@media only screen and (max-width: 600px) {
    .quadrato{
        width: 80vw;
        height: 80vw;
        margin: 2px 10vw;
        padding: 0px;
        border-radius: 10px;
    }
    .bigquadrato{
        padding: 0px;
        margin: 0px;
        width: 100vw;
        height: 100vh;
    }
}